@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: 0 auto;
}
.s-title {
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: #04aa6d;
}
.table-wrapper {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
thead {
  background-color: #04aa6d;
  color: #fff;
  font-weight: 400;
}
thead th {
  font-weight: 500;
}
th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}
.name {
  min-width: 250px;
}
.sl,
.roll,
.total,
.point {
  min-width: 70px;
}
.action,
.sheet,
.certificate {
  min-width: 150px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.fa-download {
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background: #04aa6d;
  color: #fff;
  line-height: 1.5 !important;
  cursor: pointer;
}
.edit,
.delete {
  color: #04aa6d;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}
.delete {
  color: #fb2424;
}
/* .mark-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  height: 100vh;
  width: 100%;
} */
.mark-sheet {
  width: 8.27in;
  height: 11.69in;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media print {
  .mark-sheet {
  width: 8.27in;
  height: 11.69in;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}
@media only screen and (max-width: 600px) {
  .s-title {
    font-size: 25px;
    margin-top: 20px;
  }
}
